<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <%= live_title_tag(assigns[:page_title] || "Safari Manager") %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>

  <body class="bg-base-200">
    <section class="flex flex-col flex-nowrap h-screen">
      <!-- begin navbar -->
      <div class="navbar my-1 shadow-lg bg-neutral-focus text-neutral-content rounded-box">
        <div class="flex-none">
          <label for="sm-drawer" class="btn btn-square btn-ghost drawer-button lg:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block w-6 h-6 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"
              />
            </svg>
          </label>
        </div>
        <div class="flex-1 px-2 mx-2">
          <span class="text-lg font-bold">
            Safari Manager
          </span>
        </div>
        <div class="navbar-end">
          <%= if @current_user do %>
            <div class="dropdown dropdown-end">
              <div tabindex="0" class="btn btn-circle btn-ghost avatar placeholder">
                <div class="bg-neutral text-neutral-content rounded-full w-10 h-10">
                  <span>RM</span>
                </div>
              </div>
              <ul
                tabindex="0"
                class="p-2 shadow menu dropdown-content bg-neutral text-neutral-content rounded-box w-52"
              >
                <li class="disabled"><a><%= @current_user.email %></a></li>
                <li><%= link("Settings", to: Routes.user_settings_path(@conn, :edit)) %></li>
                <li>
                  <%= link("Log out",
                    to: Routes.user_session_path(@conn, :delete),
                    method: :delete
                  ) %>
                </li>
              </ul>
            </div>
          <% else %>
            <%= link("Register", to: Routes.user_registration_path(@conn, :new), class: "btn mr-2") %>
            <%= link("Log in", to: Routes.user_session_path(@conn, :new), class: "btn mr-2") %>
          <% end %>
        </div>
      </div>
      <!-- end navbar -->
      <%= @inner_content %>
      <footer
        class="p-4 footer bg-base-300 text-base-content footer-center rounded-box absolute bottom-0 hidden sm:block"
      >
        <div>
          <p>Copyright © - All right reserved by Riccardo Massari</p>
        </div>
      </footer>
    </section>
  </body>
</html>
