<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Safari Manager" %>
      <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css" )} />
      <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js" )}></script>
</head>

<body class="bg-base-200">
  <section class="flex flex-col flex-nowrap h-screen">
    <!-- begin navbar -->
    <div class="navbar m-1 shadow-lg bg-neutral-focus text-neutral-content rounded-box">
      <div class="flex-none">
        <label for="sm-drawer" class="btn btn-square btn-ghost drawer-button lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            class="inline-block w-6 h-6 stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </label>
      </div>
      <div class="flex-1 px-2 mx-2">
        <span class="text-lg font-bold">
          Safari Manager
        </span>
      </div>
      <div class="flex-none">
        <div class="dropdown dropdown-end">
          <div tabindex="0" class="btn btn-circle btn-ghost avatar placeholder">
            <div class="bg-neutral text-neutral-content rounded-full w-10 h-10">
              <span>RM</span>
            </div>
          </div>
          <ul tabindex="0" class="p-2 shadow menu dropdown-content bg-neutral text-neutral-content rounded-box w-52">
            <li>
              <a>Profile</a>
            </li>
            <li>
              <a>Settings</a>
            </li>
            <li>
              <a>Log out</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end navbar -->
    <!-- begin drawer -->
    <div class="rounded-2xl shadow bg-base-400 drawer drawer-mobile h-full">
      <input id="sm-drawer" type="checkbox" class="drawer-toggle">
      <div class="flex flex-col px-4 bg-base-100 drawer-content h-max rounded-box m-1">
        <!-- begin breadcrumb -->
        <div class="text-sm breadcrumbs ml-1">
          <ul>
            <li>
              <a>Home</a>
            </li>
            <li>
              Organizations
            </li>
          </ul>
        </div>
        <!-- end breadcrumb -->
        <div class="flex flex-col items-center justify-center">
          <div class="container w-11/12">
            <!-- begin alert -->
            <div class="alert alert-info mb-1 hidden">
              <div class="flex-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6 mx-2 stroke-current">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
                <label>This is an alert!!</label>
              </div>
            </div>
            <!-- end alert -->
            <%= @inner_content %>
          </div>
        </div>

      </div>
      <div class="drawer-side">
        <label for="sm-drawer" class="drawer-overlay" />
        <ul class="menu py-3 bg-base-100 rounded-box shadow-xl overflow-y-auto m-1">
          <li class="menu-title">
            <span>
              Admin
            </span>
          </li>
          <li>
            <a>Organizations</a>
          </li>
          <li>
            <a>Users</a>
          </li>
          <li>
            <a>Some very long name</a>
          </li>
        </ul>
      </div>
    </div>


    <!-- end drawer -->
  </section>
  <footer class="p-4 mx-1 footer bg-base-300 text-base-content footer-center rounded-box">
    <div>
      <p>Copyright © - All right reserved by Riccardo Massari</p>
    </div>
  </footer>
</body>

</html>
