<main role="main" class="flex flex-col flex-nowrap h-screen">
  <p class="alert alert-info hidden" role="alert"><%= get(@flash, :info) %></p>
  <p class="alert alert-error hidden" role="alert"><%= get(@flash, :error) %></p>
  <%= @inner_content %>
</main>
