#!/bin/bash

export SECRET_KEY_BASE=some-value
export LV_SIGNING_SALT=some-value

export PROMETHEUS_PUSH_GW_HOST=some-value
export PROMETHEUS_PUSH_GW_USER=some-value
export PROMETHEUS_PUSH_GW_PASSWORD=some-value

# User specific changes (especially useful for secrets)
# Overwrite defaults in this file with your own values in .envrc.custom
source_env_if_exists .envrc.custom
