#!/bin/bash

export SECRET_KEY_BASE=some-value
export LV_SIGNING_SALT=some-value

export PROMETHEUS_PUSH_GW_HOST=some-value
export PROMETHEUS_PUSH_GW_USER=some-value
export PROMETHEUS_PUSH_GW_PASSWORD=some-value

export DATABASE_PATH=./
export UPLOADS_PATH=./uploads
export LOG_LEVEL=debug

# MacOS code signing
export NOTARIZE_IDENTITY=some-value
# MacOS app notarization
export NOTARIZE_TEAM_ID=some-value
export NOTARIZE_APPLE_ID=some-value
export NOTARIZE_PASSWORD=some-value

# User specific changes (especially useful for secrets)
# Overwrite defaults in this file with your own values in .envrc.custom
source_env_if_exists .envrc.custom
