<.layout
  current_page={~p"/organize/#{@competition.id}/validation_launcher"}
  current_user={@current_user}
>
  <.competition_header competition={@competition} />
  <.steps_header current_step={:validation} competition={@competition} />
  <div class="mt-10 text-center">
    <.link
      id="start-validation-btn"
      navigate={"/organize/#{@competition_id}/validation"}
      class="btn btn-xl btn-primary"
    >
      {gettext("Start Validation")}
    </.link>
  </div>
  <div class="mt-10">
    <table id="validation-results-table" class="table table-xs w-full text-center">
      <colgroup span="4" />
      <colgroup span="4" />
      <thead>
        <tr>
          <th scope="colgroup" colspan="4" class="bg-transparent" />
          <th scope="colgroup" colspan="4" class="bg-base-200">{gettext("Checks")}</th>
        </tr>
        <tr>
          <th :if={!@competition.for_teams} scope="col">{gettext("Participant #")}</th>
          <th :if={@competition.for_teams} scope="col">{gettext("Team #")}</th>
          <th scope="col">{gettext("Jury")}</th>
          <th scope="col">{gettext("Fixed points")}</th>
          <th scope="col">{gettext("Total")}</th>
          <th scope="col">{gettext("Submitted Count")}</th>
          <th scope="col">{gettext("Jury Count")}</th>
          <th scope="col">{gettext("Dup. Subjects")}</th>
          <th scope="col">{gettext("Flags")}</th>
        </tr>
      </thead>
      <tbody>
        <%= for {participant_number, stats} <- @stats do %>
          <tr id={"validation-summary-row-#{participant_number}"}>
            <th>{participant_number}</th>
            <td>{stats.submitted_jury}</td>
            <td>{stats.submitted_fixed}</td>
            <td>{stats.submitted_jury + stats.submitted_fixed}</td>
            <td>
              <div
                class="tooltip"
                data-tip={submitted_threshold_tooltip(stats.over_submitted_threshold)}
              >
                <.validation_checkmark variant={elem(stats.over_submitted_threshold, 0)} />
              </div>
            </td>
            <td>
              <div class="tooltip" data-tip={jury_threshold_tooltip(stats.over_jury_threshold)}>
                <.validation_checkmark variant={elem(stats.over_jury_threshold, 0)} />
              </div>
            </td>
            <td>
              <.validation_checkmark variant={list_to_variant(stats.duplicate_subjects)} />
            </td>
            <td>
              <.validation_checkmark variant={list_to_variant(stats.flagged_slides)} />
            </td>
          </tr>
          <tr :if={list_to_boolean(stats.flagged_slides ++ stats.duplicate_subjects)}>
            <td />
            <td colspan="7">
              <table :if={stats.flagged_slides != []} class="table table-xs w-full text-center">
                <colgroup span="8" />
                <thead>
                  <tr>
                    <th scope="colgroup" colspan="8" class="bg-base-200">{gettext("Flags")}</th>
                  </tr>
                  <tr>
                    <th scope="col" class="bg-base-200">{gettext("File name")}</th>
                    <th scope="col" class="bg-base-200">{gettext("Subject")}</th>
                    <th scope="col" class="bg-base-200">{gettext("Status")}</th>
                    <th scope="col" class="bg-base-200">{gettext("Wrong subject")}</th>
                    <th scope="col" class="bg-base-200">{gettext("Unrecognizable")}</th>
                    <th scope="col" class="bg-base-200">{gettext("Distinction")}</th>
                    <th scope="col" class="bg-base-200">{gettext("Note")}</th>
                    <th scope="col" class="bg-base-200" />
                  </tr>
                </thead>
                <tbody>
                  <%= for slide <- stats.flagged_slides do %>
                    <tr
                      :for={slide_flags <- [Slides.slide_flags_by_types(slide)]}
                      id={"validation-detail-row-#{slide.id}"}
                    >
                      <td>
                        <span class="sm-file-name">
                          {slide.file_name}
                        </span>
                      </td>
                      <td>
                        <span class="sm-subject-name capitalize">
                          {slide.subject.name}
                        </span>
                      </td>
                      <td>
                        <div class={[
                          "sm-status",
                          "my-auto",
                          "badge",
                          slide.status == :submitted_jury && "badge-success",
                          slide.status == :submitted_fixed && "badge-warning"
                        ]}>
                          {status_to_label(slide.status)}
                        </div>
                      </td>
                      <td class="capitalize text-center">
                        <span class="sm-wrong-subject">
                          {(slide_flags.wrong_subject &&
                              "#{subject_name(@subjects, slide.subject_id)} → #{subject_name(@subjects, slide_flags.wrong_subject.context["to"])}") ||
                            "-"}
                        </span>
                      </td>
                      <td>
                        <span class="sm-unrecognizable">
                          {(slide_flags.unrecognizable && "✓") || "-"}
                        </span>
                      </td>
                      <td>
                        <span class="sm-distinction">
                          {(slide_flags.distinction && "✓") || "-"}
                        </span>
                      </td>
                      <td>
                        <div
                          :if={slide_flags.note}
                          class="tooltip"
                          data-tip={slide_flags.note.context["message"]}
                        >
                          <div class="sm-note max-w-xs truncate">
                            {(slide_flags.note && slide_flags.note.context["message"]) || "-"}
                          </div>
                        </div>
                        <span :if={!slide_flags.note}>-</span>
                      </td>
                      <td class="flex flex-row">
                        <.link
                          navigate={"/organize/#{@competition_id}/validation?slide_id=#{slide.id}"}
                          class="flex-none btn btn-xs"
                        >
                          {gettext("Open")}
                        </.link>
                        <div class="flex-none mx-1.5 dropdown">
                          <label tabindex="0" class="btn btn-xs">
                            {gettext("Actions")}
                          </label>
                          <ul
                            tabindex="0"
                            class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
                          >
                            <li>
                              <a
                                :if={slide_flags.wrong_subject}
                                class="btn btn-sm btn-ghost"
                                phx-click="apply-subject-correction"
                                phx-value-slide-id={slide.id}
                                phx-value-new-subject={
                                  slide_flags.wrong_subject &&
                                    slide_flags.wrong_subject.context["to"]
                                }
                              >
                                {gettext("Apply subject correction")}
                              </a>
                            </li>
                            <li>
                              <a
                                :if={slide.status != :submitted_jury}
                                class="btn btn-sm btn-ghost"
                                phx-click="move-slide-to-jury"
                                phx-value-slide-id={slide.id}
                              >
                                {gettext("Move to jury")}
                              </a>
                            </li>
                            <li>
                              <a
                                :if={slide.status != :submitted_fixed}
                                class="btn btn-sm btn-ghost"
                                phx-click="move-slide-to-fixed"
                                phx-value-slide-id={slide.id}
                              >
                                {gettext("Move to fixed points")}
                              </a>
                            </li>
                            <li>
                              <a
                                class="btn btn-sm btn-ghost"
                                phx-click="move-slide-to-discarded"
                                phx-value-slide-id={slide.id}
                              >
                                {gettext("Move to discarded")}
                              </a>
                            </li>
                            <li>
                              <a
                                class="btn btn-sm btn-ghost"
                                phx-click="clear-all-flags"
                                phx-value-slide-id={slide.id}
                              >
                                {gettext("Clear all flags")}
                              </a>
                            </li>
                          </ul>
                        </div>
                        <.form
                          for={%{}}
                          method="post"
                          action={~p"/image_export"}
                          class="flex-none"
                        >
                          <.hidden_input name={:slide_id} value={slide.id} />
                          <button type="submit" class="btn btn-square btn-xs">
                            <Heroicons.icon name="arrow-down-tray" type="outline" class="h-4 w-4" />
                          </button>
                        </.form>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <table
                :if={stats.duplicate_subjects != []}
                class="table table-xs w-full text-center mt-2"
              >
                <colgroup span="4" />
                <thead>
                  <tr>
                    <th scope="colgroup" colspan="4" class="bg-base-200">
                      {gettext("Duplicate subjects")}
                    </th>
                  </tr>
                  <tr>
                    <th scope="col" class="bg-base-200">{gettext("File name")}</th>
                    <th scope="col" class="bg-base-200">{gettext("Subject")}</th>
                    <th scope="col" class="bg-base-200">{gettext("Status")}</th>
                    <th scope="col" class="bg-base-200" />
                  </tr>
                </thead>
                <tbody>
                  <tr
                    :for={slide <- stats.duplicate_subjects}
                    id={"validation-duplicate-detail-row-#{participant_number}-#{slide.id}"}
                  >
                    <td>{slide.file_name}</td>
                    <td><span class="capitalize">{slide.subject.name}</span></td>
                    <td>
                      <div class={[
                        "my-auto",
                        "badge",
                        slide.status == :submitted_jury && "badge-success",
                        slide.status == :submitted_fixed && "badge-warning"
                      ]}>
                        {status_to_label(slide.status)}
                      </div>
                    </td>
                    <td>
                      <.link
                        navigate={"/organize/#{@competition_id}/validation?slide_id=#{slide.id}"}
                        class="btn btn-xs"
                      >
                        {gettext("Open")}
                      </.link>
                      <div class="dropdown mx-auto">
                        <label tabindex="0" class="btn btn-xs">
                          {gettext("Actions")}
                        </label>
                        <ul
                          tabindex="0"
                          class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
                        >
                          <li>
                            <a
                              :if={slide.status != :submitted_jury}
                              class="btn btn-sm btn-ghost"
                              phx-click="move-slide-to-jury"
                              phx-value-slide-id={slide.id}
                            >
                              {gettext("Move to jury")}
                            </a>
                          </li>
                          <li>
                            <a
                              :if={slide.status != :submitted_fixed}
                              class="btn btn-sm btn-ghost"
                              phx-click="move-slide-to-fixed"
                              phx-value-slide-id={slide.id}
                            >
                              {gettext("Move to fixed points")}
                            </a>
                          </li>
                          <li>
                            <a
                              class="btn btn-sm btn-ghost"
                              phx-click="move-slide-to-discarded"
                              phx-value-slide-id={slide.id}
                            >
                              {gettext("Move to discarded")}
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="flex flex-row my-10 w-full items-center gap-2">
    <.link
      navigate={"/organize/#{@competition_id}/slide_selection"}
      class="flex-none btn gap-2 min-w-40 h-12 justify-center items-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
      </svg>
      {gettext("Selection")}
    </.link>
    <div class="grow" />
    <.link
      navigate={"/organize/#{@competition_id}/jury_launcher"}
      class="flex-none btn btn-primary gap-2 min-w-40 h-12 justify-center items-center"
    >
      {gettext("Jury")}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
      </svg>
    </.link>
  </div>
</.layout>
